<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>
    <h1>Добавить книгу</h1>
     <!-- Форма добавления книги -->
     <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <!-- Выводим поля формы -->
         {{ form.as_p }}
          <!-- Кнопка отправки формы -->
         <button type="submit">Добавить</button>
     </form>
     <!-- Ссылка на возврат к списку книг -->
    <a href="{% url 'index' %}">Назад к списку книг</a>
</body>
</html>