<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Электронная библиотека</title>
</head>
<body>
    <h1>Список книг</h1>
    <a href="{% url 'authors' %}">Список авторов</a> <!-- Ссылка на список авторов -->
    <form action="{% url 'search' %}" method="get"> <!-- Форма для поиска -->
      <input type="text" name="query" placeholder="Поиск...">
      <button type="submit">Найти</button>
    </form>
    <ul>
        {% for book in books %}
            <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a> (Автор: {{ book.author.name }}, {{ book.year }})</li> <!-- Вывод каждой книги -->
        {% endfor %}
    </ul>
</body>
</html>